<html>
    <head>
        <title>AUDIO PAGE</title>
    </head>
    <style>
        body{
            background-color: blueviolet
        }
        h1{
            color: chartreuse;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
        }
        audio{
            margin-left: 580px;
            border: solid black 3px;
            border-radius: 30px;
        }
    </style>
    <body>
        <h1 align="center"><u>WELCOME TO THE AUDIO PAGE!</u></h1>
        <h1 align="center"><u>LISTEN THE AUDIO FOR YOUR STRING HERE!</u></h1><br><br>
        <audio controls src="static/output.mp3">
    </body>
</html>